<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
        <h2>CONTADOR PÚBLICO- <h3>2006-2008</h3></h2>
        <li>Universidad Católica de Santiago del Estero</li>
        </ul>
            <ul>
                <h2>CURSO FRONT-END- <h3>2022</h3></h2>
                <li>Universidad Nacional de Rafaela</li> 
        </ul>
        <ul>
                <h2>ENGLISH ADUTLS- <h3>2022</h3></h2>
                <li>SKYPE INSTITUTE</li> 
        </ul>
    </div>
</div>

