
<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/Logos/fotodeperfil1.jpg" class="img-fluid" id="fotodeperfil">
</div>
<div class= "col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
    <p id="nombre">{{persona.nombre}}Paola Lorena Condotto{{persona.apellido}}</p>
    <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
<span>
    <h1>Acerca de Mí</h1>
    <p>Me llamo Paola, tengo 39 años, soy Contadora Pública y soy mamá de dos 
        hermosas nenas, Guillermina y Valentina.
        Trabajo hace 18 años en un Registro de Automotor y tengo el cargo de  Encargada Suplente.
        Hace unos años empezó a llamarme la atención todo lo relacionado a sistemas.
        Comencé viendo videos de Youtube, y a partir de ahí siempre seguí aprediendo.
        Soy una persona proactiva, me gusta enfrentar desafios nuevos, soy autodidacta 
        y sobre todo me gusta trabajar en equipo y cumplir los objetivos propuestos.</p>
       
            <h1>About Me</h1>
            <p>  My name is Paola, I am 39 years old, I am a Public Accountant and I am the mother of two
             beautiful girls, Guillermina and Valentina. 
             I have been working for 18 years in an Automotive Registry and I have the position of Substitute Manager.
              A few years ago everything related to systems began to attract my attention.
               I started watching YouTube videos, and from there I always keep learning. 
               I am a proactive person, I like to face new challenges, I am self-taught and above all
                I like to work in a team and meet the proposed objectives.</p>
</span>
</div>
</div>


