.row{
    padding:20px;

}
div{
    background-color:aquamarine ;
    text-align:center;

}
#nombre{
    font-weight: bold;
    margin-top:30%;

}
@media (min-width:576px){
    #fotodeperfil{
        position:absolute;
        width:15%;
        border-radius: 15%;
        box-shadow: 5px 5px 5px gray;
      left: 3%;
      top:600px;
    }
}
@media (max-width:575px){
    #fotodeperfil{
        position:absolute;
        width: 30%;
        border-radius: 15%;
        box-shadow: 5px 5px 5px gray;
        left: 35%;
        top:630px;
    }
}