<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-secondary" routerLink="/nuevaexp" *ngIf="isLogged">
            <i class="bi bi-hand-index-thumb"></i>
            Nueva Experiencia
        </button>
    </div>KKK
    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td><h2>{{Experiencia.nombreEx}}</h2></td>
                    <td><h4>{{Experiencia.descripcionEx}}</h4></td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editexpe/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-dark" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
