<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEx">Nombre de la empresa</label>
                    <input type="text" class="form-control" id="nombreEx" name="nombreEx" [(ngModel)]="nombreEx" required>
                </div>
                <div class="form-group">
                    <label for="descripcionEx">Descripcion de la tarea</label>
                    <input type="text" class="form-control" id="descripcionEx" name="descripcionEx" [(ngModel)]="descripcionEx" required>
                </div>
                <button class="btn btn-dark">
                    Agregar experiencia
                </button>
            </form>
        </div>
    </div>
</div>
