.gradient-custom {
    /* fallback for old browsers */
    background: #fefefe;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(93, 90, 96), rgb(231, 236, 245));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(127, 123, 131), rgb(231, 235, 243))
    }