<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="90"
  [radius]="100"
  [showUnits]="false"
  [imageSrc]="'../../../assets/Logos/html.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
  [percent]="90"
  [radius]="100"
  [showUnits]="false"
  [imageSrc]="'../../../assets/Logos/js.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#F1C40F'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
[percent]="85"
[radius]="100"
[showUnits]="false"
[imageSrc]="'../../../assets/Logos/CSS.png'"
[showImage]="true"
[imageHeight]="70"
[imageWidth]="70"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#2980B9 '"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
[percent]="75"
[radius]="100"
[showUnits]="false"
[imageSrc]="'../../../assets/Logos/git.png'"
[showImage]="true"
[imageHeight]="70"
[imageWidth]="70"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#212F3D '"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
[percent]="55"
[radius]="100"
[showUnits]="false"
[imageSrc]="'../../../assets/Logos/reat.png'"
[showImage]="true"
[imageHeight]="70"
[imageWidth]="70"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#00FFFF'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
[percent]="80"
[radius]="100"
[showUnits]="false"
[imageSrc]="'../../../assets/Logos/angular.png'"
[showImage]="true"
[imageHeight]="70"
[imageWidth]="70"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#E74C3C'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
</div>

