<div class="row">
  <h1>Hards Soft && Skill</h1>
  <div class="col-lg-2">
      <button type="button" class="btn btn-secondary" routerLink="/nuevahys" *ngIf="isLogged">
          <i class="bi bi-hand-index-thumb"></i>
          Agregar Hards && Skill
      </button>
  </div>
  <ul class="col-sm-4 col-md-3 col-lg-3" *ngFor="let Hys of hys">
    <li>
        <div  id="skills alineado">
            <circle-progress
                [percent]="Hys.capacidadesHys"
                [radius]="100"
                title= "(Hys.nombreHys)"
                imageSrc="(Hys.imgHys)"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
<div>
<button class="btn btn-light" id="boton-hys" routerLink="/edithys/{{Hys.id}}"*ngIf="isLogged">
    <i class="bi bi-pencil-fill"></i>Editar</button>
<button class="btn btn-dark" id="boton-hys" (click)="delete(Hys.id)" *ngIf="isLogged">
    <i class="bi bi-trash-fill"></i>Borrar</button>          
              
                  </div>