.container{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.redes{
    margin-right:0.5em;
   

}
#logoAP{
    width: 150px;
    
}
img{
    width:50px;
}

.btn{
    border-width: medium;
    color:white;
}
@media (max-width:575px){
.redes img{
    margin:0.5em;
}
.container{
    flex-direction: flex;

}
.redes{
    display:flex;
    align-items:center;
}
}
