<div class="row">
    <div class="container">
        <div class="logo">
        <img src="../../../assets/Logos/APLogo.png" id="logoAP">
    </div>
<div class="redes">
    <div>
        <a href="https://www.facebook.com/PaoCondotto"><img src="../../../assets/Logos/facebook.png"> </a>
        <a href="https://www.instagram.com/PaolaCondotto"><img src="../../../assets/Logos/instagram.png"> </a>
        <a href="https://www.linkedin.com/in/paola-lorena-condotto-3b4a16113"><img src="../../../assets/Logos/linkedin.png"> </a>
        <a href="https://www.github.com/PaolaLorena82"><img src="../../../assets/Logos/github.png"> </a>
        <button type="button" class="btn btn-outline-light" (click)="login($event)" *ngIf="!isLogged">INGRESO</button>
        <button type="button" class="btn btn-outline-light" (click)="onLogOut($event)" *ngIf="isLogged">CERRAR SESION</button>
</div>
    

</div>
</div>
</div>
