<div class="row">
    <div class="container">
        <div class="logo">
        <img src="../../../assets/Logos/APLogo.png" id="logoAP">
    </div>
<div class="redes">
    <div>
        <a href=""><img src="../../../assets/Logos/facebook.png"> </a>
        <a href=""><img src="../../../assets/Logos/instagram.png"> </a>
        <a href=""><img src="../../../assets/Logos/linkedin.png"> </a>
        <a href=""><img src="../../../assets/Logos/github.png"> </a>
        <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
     <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
</div>
    

</div>
</div>
</div>
